oe-*
.vscode
/build/
nbproject/
test/utests/build/
Linux/gst-plugins-good-*/
test/tools/Godspell/typos.csv
test/VideoTestStream/hls/
test/VideoTestStream/dash/
test/VideoTestStream/temp/
test/VideoTestStream/text/
test/l2test/*/output
test/l2test/*/aamp.*
*.DS_Store
*.mpd
*.m3u8
*.mp4
__pycache__

glib/
subtec-app/
Linux/googletest/
.libs/
test/l2test/result/
test/l2test/data/aamp/*
**/*.swp

tmp/
.scanoss/
*.json
*.wfp
.idea/
